$main-color : #feb800;
$black-color : #000;
$white-color : #fff;
$header-color : #212529;
$facebook-back-color: #4867aa;
$twitter-back-color : #2ba5da;
$linkedin-back-color :#0077b0;
$whatsapp-back-color : #47c355;
$social-border-color : #5d5252;
$director-color : #f3f3f3;
$bg-gray: #f9f9f9;